<h1> The Agile Iterations Game - How to Play </h1> 
<h3> Prerequisites</h3>
<p> To play the iterations game you need 
<ol>
  <li> A team of 4-8 people</li>
  <li> A prioritized stack of story cards</li>
  <li> A agile team wall that looks like the table at the bottom of this page</li>
  <li> A piece of paper with "Day 1, Day 2, Day 3, Day 4, and Day 5" written on it</li>
  <li> Someone on the team who has agreed to be a process facilitator</li>
</ol>
<table class='board'>
  <tr>
    <th> Backlog </th>
    <th> Dev WIP </th>
    <th> Dev Complete </th>
    <th> Testing WIP </th>
    <th> Rejected </th>
    <th> Accepted </th>
  </tr>
  <tr>
    <td/> 
    <td/> 
    <td/> 
    <td/> 
    <td/> 
    <td/> 
  </tr>
<h3> The Objective </h3>
<p> Earn enough work credits in an iteration to finish as many stories as a team as you can.
<h3> The First Turn </h3>
<p> Each player draws a story card from the top of the stack, initials it and puts it in the Dev WIP lane.
<p> Take turns clicking the "Work on a story" link and following the instructions until each player has gone once. 
<p> After half the players have taken a turn, the process facilitator will hold a standup. In the standup, the whole team will stand and take turns saying what they accomplished since the last standup and what they hope to accomplish before the next standup. The process facilitator can take this opportunity to remind the team where they are relative to the end of the iteration.
<p> After each turn, the process facilitator will mark a day complete.
<h3> Rinse and Repeat </h3>
<p> Keep taking turns until the game is over. At the start of each turn, a player can decide to work on a story or test two story cards (if there are any that are in the Dev Complete lane).
<h3> Miscellaneous Rules </h3>
<p> No player can develop and test the same story - no exceptions
<p> Mark the number of work credits you earn on the story each turn. When you have earned as many (or more) work credits as the story has points, move the story card to the "Dev Complete" lane
<p> If you get more work credits in a turn than it takes to complete a story, you have a choice to make:
  <ol>
    <li>immediately pull a new story and apply those credits to it OR</li>
    <li>test one story in the "Dev Complete" lane for every 2 extra work credits you have earned</li>
  </ol>
<p> At the start of any turn you can choose to work on the story you have OR test two stories in the dev complete lane
<p> The process facilitator is responsible for making sure the story cards move through the lanes properly - she needs to keep an eye on the team and help them do it right. She should also be mindful of when the iteration will end and help the team avoid getting stories "backed up" in the dev complete lane.
<p> The process facilitator can also work on stories, but they have to click the "Work on Story" link TWICE each turn and take the WORSE of the 2 outcomes. There is no penalty for a process facilitator testing stories - you only have to click the "Test Story" link once per story you test.
<p> If a story is rejected, the same person who developed it should fix it. The process facilitator can decide to break this rule, but the person who works on the story will have to click the "Work on Story" link TWICE each turn and take the WORSE of the 2 outcomes.
<h3> Ending the game </h3>
<p> The game ends after five rounds. Pull all the cards in the accepted lane off the wall and add up your points. This is your velocity.
<br/>
<%= link_to "Work on a story", work_on_a_story_play_path(:lane => 'dev') %>
<%= link_to "Test a story", work_on_a_story_play_path(:lane => 'test') %>
