.rules
  %h1 The Agile Iterations Game - How to Play
  %h3 Prerequisites
  %p To play the iterations game you need 
  %ol
    %li A team of 4-8 people
    %li A prioritized stack of story cards
    %li A agile team wall that looks like this:
  %table.board
    %tr
      %th Backlog
      %th Dev WIP
      %th Dev Complete
      %th Testing WIP
      %th Rejected
      %th Accepted
    %tr
      %td 
      %td 
      %td 
      %td 
      %td 
      %td 
  %h3 The Objective 
  %p Earn enough work credits in an iteration to finish as many stories as a team as you can.
  %h3 The First Turn
  %p Each player draws a story card from the top of the stack, initials it and puts it in the Dev WIP lane.
  %p Take turns clicking the "Work on a story" link and following the instructions until each player has gone once. 
  %p After each turn, click the day complete link. 
  %h3 Rinse and Repeat
  %p Keep taking turns until the game is over. At the start of each turn, a player can decide to work on a story or test two story cards (if there are any that are in the Dev Complete lane).
  %h3 Ending the game
  %p The game ends after five rounds. Pull all the cards in the accepted lane off the wall and add up your points. This is your velocity.
  
= link_to "Work on a story", work_on_a_story_play_path(:lane => 'dev')
= link_to "Test a story", work_on_a_story_play_path(:lane => 'test')
